name: Web component tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install Dependencies
        id: install-dependencies
        run: npm ci

      - name: Test web components
        working-directory: ./packages/stencil-library
        id: tests-static
        run: npm test

      - name: Upload screenshots (optional)
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: screenshots/ # Path to your generated screenshots
