name: Web component tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        id: install-dependencies
        run: npm install

      - name: Test web components
        working-directory: ./packages/stencil-library
        id: tests-static
        run: npm test
